<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu</title>
    <link rel="stylesheet" href="../assets/css/menu.css" />
  </head>
  <body>
    <button class="add-btn">+ Add New</button>
    <table>
      <thead>
        <tr>
          <th>Menu ID</th>
          <th>Name</th>
          <th>Category ID</th>
          <th>Price</th>
          <th>Available</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="menu-body"></tbody>
    </table>
  </body>
</html>
