 * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",Tahoma,sans-serif;
}
body {
    display:flex;
    height:100vh;
    background:#f4f6f8;
    overflow:hidden;
}

/* SIDEBAR */
.sidebar {
    width:240px;
    background:#23282d;
    color:#fff;
    display:flex;
    flex-direction:column;
    padding:20px;
    transition:all 0.3s ease;
    position:relative;
}
.sidebar h2 {
    text-align:center;
    margin-bottom:20px;
}
.sidebar a {
    text-decoration:none;
    color:#c7c7c7;
    padding:12px;
    display:block;
    border-radius:4px;
    margin-bottom:8px;
    }
.sidebar a:hover, .sidebar a.active {
    background:#0073aa;
    color:#fff;
}
.sidebar.collapsed {
    width:70px;
    padding:20px 10px;
}
.sidebar.collapsed h2 {
    display:none;
}
.sidebar.collapsed a {
    text-align:center;
    font-size:0;
}
.material-icons {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 8px;
  color: #f9f8f8;
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24
}

.main {
    flex:1;
    display:flex;
    flex-direction: column;
}
.topbar {
      background:#fff;
      padding:15px 20px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding-left: 16px;
      box-shadow:0 1px 3px rgba(0,0,0,0.1);
}
.menu-toggle {
    font-size:22px;
    cursor:pointer;
}
.content {
    flex:1;
    padding:20px;
    overflow:auto;
}
/* TABLE STYLES */
table {
    width:100%;
    border-collapse:collapse;
    background:#fff;
    border-radius:8px;
}
th, td {
    padding:12px;
    border-bottom:1px solid #eee;
    text-align:left;
}
th {
    background:#0073aa;
    color:#fff;
}
tr:hover {
    background:#f9f9f9;
}
.add-btn {
    background:#0073aa;
    color:#fff;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-bottom:15px;
}
.add-btn:hover {
    background:#005f86;
}
.actions button {
    padding:6px 10px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    margin-right:5px;
}
.actions .edit {
    background:#ffc107;
    color:#fff;
}
.actions .delete {
    background:#dc3545;
    color:#fff;
}
