* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #edf1f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  margin: auto;
  max-width: 480px;
}

.login-card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (min-width: 600px) {
  .login-card {
    margin: 24px;
  }
}
@media (min-width: 1200px) {
  .login-card-box {
    max-width: 475px;
  }
}
@media (min-width: 600px) {
  .login-card-box-wrapper {
    padding: 24px;
  }
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.title {
  color: #777;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
}

.google-btn {
  width: 100%;
  border: 1px solid #25bca8;
  background-color: #fff;
  color: #25bca8;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  transition: background 0.2s;
}

.google-btn:hover {
  background-color: #e9f7f5;
}

.divider {
  margin: 20px 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider span {
  padding: 0 10px;
  font-size: 14px;
}

form {
  text-align: left;
}

label {
  font-size: 14px;
  color: #555;
  display: block;
  margin-top: 10px;
}

.required {
  color: red;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 13px;
}

.signin-btn {
  width: 100%;
  background-color: #25bca8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

.signin-btn:hover {
  background-color: #1fa38f;
}

.forgot {
  display: block;
  margin-top: 15px;
  color: #25bca8;
  font-size: 14px;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.signup {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}
.signup p {
  margin: 0;
}
.signup a {
  text-decoration: unset;
  color: #25bca8;
  font-weight: 500;
}
.signup a:hover {
  color: #999
}