<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-card">
        <div class="login-card-box">
          <div class="login-card-box-wrapper">
            <div class="logo">
              <img src="https://app.menutigr.com/assets/logo.png" alt="Logo" />
            </div>

            <h3 class="title">Log in to your account</h3>

            <button class="google-btn">
              <img src="../assests/google-img.svg" alt="google-img" />
              Continue With Google
            </button>

            <div class="divider">
              <span>or</span>
            </div>

            <form>
              <label>Email <span class="required">*</span></label>
              <input type="email" placeholder="Enter your email" required />

              <label>Password</label>
              <div class="password-wrapper">
                <input
                  type="password"
                  placeholder="Enter your password"
                  required
                />
                <span class="toggle-password">👁️</span>
              </div>

              <div class="options">
                <label><input type="checkbox" /> Remember</label>
              </div>

              <button type="submit" class="signin-btn">Sign In</button>
            </form>

            <a href="#" class="forgot">Forgot password?</a>
            <div class="signup">
              <p>Don't have an account?</p>
              <a href="#">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
